outputs.bak
.git.bak
.git2
wandb/
debugs/
outputs/
samples/
__pycache__/
ossutil_output/
.ossutil_checkpoint/

scripts/
!scripts/animate.py

*.ipynb
*.safetensors
*.ckpt
*.onnx

__assets__

models/*
!models/StableDiffusion/
models/StableDiffusion/*
!models/StableDiffusion/*.txt
!models/Motion_Module/
!models/Motion_Module/*.txt
!models/DreamBooth_LoRA/
!models/DreamBooth_LoRA/*.txt
!models/MotionLoRA/
!models/MotionLoRA/*.txt
wandb/
outputs/
**/__pycache__/
checkpoints/

.git-sizhky
.git-og
